# Скопируйте в .env и заполните реальными значениями

# ================================
# GLOBAL SETTINGS
# ================================
AIRFLOW_IMAGE_NAME=apache/airflow:3.1.7-python3.11
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
ENV_FILE_PATH=.env

# ================================
# AIRFLOW CREDENTIALS
# ================================
_AIRFLOW_WWW_USER_USERNAME=airflow_admin
_AIRFLOW_WWW_USER_PASSWORD=ChangeMe_Str0ngP@ssw0rd!
# +++++FERNET_KEY: сгенерируйте командой ниже и сохраните в менеджере паролей++++++++
AIRFLOW__CORE__FERNET_KEY=YourBase64EncodedFernetKeyHere==

# ================================
# POSTGRES - AIRFLOW METADATA DB
# ================================
POSTGRES_USER=airflow
POSTGRES_PASSWORD=ChangeMe_AirflowMetaPass
POSTGRES_DB=airflow_metadata
POSTGRES_HOST=postgres_meta
POSTGRES_PORT=5432

# ================================
# POSTGRES - DATA WAREHOUSE (DWH)
# ================================
POSTGRES_DWH_USER=dwh_admin
POSTGRES_DWH_PASSWORD=ChangeMe_DwhPass
POSTGRES_DWH_DB=analytics_dwh
POSTGRES_DWH_HOST=postgres_dwh
POSTGRES_DWH_PORT=5432
POSTGRES_DWH_EXTERNAL_PORT=5433

# ================================
# MONGODB
# ================================
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=etl_source_data
MONGO_ROOT_USERNAME=mongo_admin
MONGO_ROOT_PASSWORD=ChangeMe_MongoPass
MONGO_EXTERNAL_PORT=27017

# ================================
# REDIS
# ================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=ChangeMe_RedisPass

# ================================
# GRAFANA
# ================================
GRAFANA_ADMIN_USER=grafana_admin
GRAFANA_ADMIN_PASSWORD=ChangeMe_GrafanaPass

# ================================
# MONGO EXPRESS (OPTIONAL)
# ================================
ME_CONFIG_BASICAUTH_USERNAME=me_admin
ME_CONFIG_BASICAUTH_PASSWORD=ChangeMe_ME_Pass
ME_CONFIG_EXTERNAL_PORT=8081
